{% extends "base.html" %}

{% block content %}

<h1>Catalog of French resources in bioinformatics</h1>

</br>
<h3>Catalogue Description</h3>
<div><body>IFB will ensure the visibility and
accessibility of bioinformatics resources (tools, databases, individual expertises, platforms and
training material), which will be synchronized with related international catalogues.
    </br>This catalogue will also contribute to readily identify the most
adapted resources and their availability to support end-user needs
</div>
</br>
<b>This catalogue will encompass different categories of entities that can be considered as bioinformatics
    resources</b>.
<ul>
    <li>Software tools.</li>
    <li>Databases.</li>
    <li>Organizations (we will consider any type of structure contributing to research or support in
    bioinformatics: platforms of services, research laboratories, SME, ...).</li>
    <li>Persons and their expertise (“Who knows what?”).</li>
    <li>Training events and material.</li>
It will include an inventory of the locations where each resource can be found (platforms, servers, ...).{% endblock %}

</ul>

</body>